@page "{name}"
@model Synchronized.WebApp.Pages.Tags.DetailsModel
@{
    ViewData["Title"] = "Details";
}

<h2>Details</h2>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
