<ul class="navbar-nav mr-auto" >
    <li class="navbar-brand"><a asp-page="/Questions/Index" class="nav-link">Questions</a></li>
    <li class="navbar-brand"><a asp-page="/Tags/Index" class="nav-link">Tags</a></li>
    <li class="navbar-brand"><a asp-page="/Users/Index" class="nav-link">Users</a></li>
    <li class="navbar-brand"><a asp-page="/Questions/Ask" class="nav-link">Ask</a></li>
    <li class="navbar-brand"><a asp-page="/Questions/Review" class="nav-link">Review</a></li>
    <li class="navbar-brand"><a asp-page="/Questions/Deleted" class="nav-link">Deleted</a></li>
</ul>  