<ul class="nav navbar-nav navbar-right">
    <li><a asp-page="/Questions/Index">Questions</a></li>
    <li><a asp-page="/Tags/Index">Tags</a></li>
    <li><a asp-page="/Users/Index">Users</a></li>
    <li><a asp-page="/Questions/Ask">Ask</a></li>
    <li><a asp-page="/Questions/Review">Review</a></li>
    <li><a asp-page="/Questions/Deleted">Deleted</a></li>
</ul>  