@{
    <div class="app-search collapse navbar-collapse navbar-right" id="navbarSupportedContent">
        <form asp-page=@ViewData["CurrentPage"] class="form-inline my-2 my-lg-0">
            @Html.TextBox("QuestionsSearch")
            <button class="btn btn-outline-primary my-2 my-sm-0" type="submit" value="search"><i class="fa fa-search" aria-hidden="true"></i></button>
        </form>
    </div>
}