@page
@model Synchronized.WebApp.Pages.Questions.DeletedModel
@{
    ViewData["Title"] = "Deleted";
}

<h2>Deleted</h2>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
