@page
@model Synchronized.WebApp.Pages.Questions.ReviewModel
@{
    ViewData["Title"] = "Review";
}

<h2>Review</h2>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
